<div mat-dialog-content>
 <div class="dialog-header">
       <h2> Gender</h2>
    <div class="dialog-header">
       <button type="button" class="btn btn--green" (click) = "applyFilters()">
      Apply
    </button>
     <a class="btn btn--green clear-bt">Clear Filters</a>
    </div>
   
  </div>

  <mat-divider></mat-divider>
  <mat-accordion>
    <!-- Legal Status -->
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gender
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item> <mat-checkbox>AMER</mat-checkbox> </mat-list-item>
        <mat-list-item> <mat-checkbox>APAC</mat-checkbox> </mat-list-item>
       </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>

