
/* ::ng-deep .mat-drawer-inner-container,
::ng-deep .mat-drawer {
  overflow: hidden !important;
} */

.mat-list-base {
  padding-top: 0;
}

.mat-list-item {
  color: #737579;
}
.mat-list-base .mat-list-item { font-size: 13px; }
.iconsize-16 {
  font-size: 16px;
}
.img-url{
  max-width: 30px;
  max-height: 30px;
}

img {
  max-width: 30px;
  max-height: 30px;
}
.empty-page {
  min-height: inherit;

  text-align: center;
  
  padding-top: 20px;
}

.btnSaveFilters {

}

.btClearFilters {
  background-color: #fff;
  border: 1px solid #f00;
  color: #f00;
  border-radius: 30px;
  margin-top: 15px !important;
}

.btClearFilters.mat-list-option[aria-selected="true"],
.btClearFilters.mat-list-item:hover,
.btClearFilters.mat-list-item.list-item-active{
  background-color: #fff;
  border: 1px solid #f00;
  color: #f00;
  border-radius: 30px;

}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  width: 94%;
  margin: auto;
  margin-bottom: 2px;
  height: 36px;
    margin-left: 8px; 
    transition: all 0.5s ease;border-radius: 35px;
}
.mat-list-base .mat-list-option.btClearFilters{margin-left: 11px;}
.mat-list-base .mat-list-option:hover,.mat-list-base .mat-list-option.btnSaveFilters{ background:#1991EB; border-radius: 35px;box-shadow: 0px -1px 14px rgba(0,0,0,0.09);color: #fff; }
.mat-list-base .mat-list-option.btClearFilters:hover { background:#f00; }


.mat-list-base .mat-list-option.btnSaveFilters{    margin-bottom: 11px;}
.mat-list-base .mat-list-option:hover .mat-list-item { color: #f00; }
.mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon { font-size: 20px; }

.arrHeader {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin-bottom: 12px;
  margin-top: 6px;
  

}
.subHeader {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-left: 7px;
  height: auto;
  padding-top: 15px;border-bottom: 1px solid #ebe9e9;margin-bottom: 12px;

}
.subHeader h3{padding-left: 11px;}
.subHeader .btn{margin-right: 5px;}

.subHeader.Filters { margin-left: 20px; }
.subHeader.Filters h3 { font-weight: 500; }

.nav-close-bar-main .subHeader{padding-top: 6px;
    padding-bottom: 6px;margin-bottom: 6px;}
.nav-close-bar-main .subHeader .mat-icon{margin-left: 16px;}


.btnSubHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left:50px;
  min-width: 110px;
}
.arrHeader mat-icon,
.subHeader mat-icon {
  cursor: pointer;
}

mat-list-option[aria-selected="true"],
.mat-list-item:hover,
.mat-list-item.list-item-active{
background: #1991EB;
    border-radius: 35px;
    box-shadow: 0px -1px 14px rgba(0,0,0,0.09);
    color: #fff;  
}
.nav-close-bar-main mat-list-option[aria-selected="true"],
.nav-close-bar-main .mat-list-item:hover,
.nav-close-bar-main .mat-list-item.list-item-active { background: transparent; border-radius: 0;  box-shadow:none;
    color: #1991EB;  }

.backdropBackground {
  color: #777;
  width: 50%;
  height: 60%;
}

.myArrow.mat-list-item:hover {
  color: #b1b5c0;
  background-color: #fff;
}
.icon-spacer {
  margin-left: 10px;
}

.header-spacer {
  margin-left: 72px;
}

.flex-container {
  display: flex;
}

i.material-icons {
  font-size: 16px;
  vertical-align: middle;
  top: -3px;
  float: right;
}

example-sidenav {
  position: relative;
}
example-sidenav-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.search-data-table {
  width: 100%;
}
.search-data-table ul  {margin: 0;list-style-type: none;text-align: left;}
.search-data-table ul li{ padding-bottom: 15px;font-weight: 500; }
.search-data-table ul li .material-icons{vertical-align: middle;
    background: #e7e7e7;
    border-radius: 50px;
    line-height: 24px;
    color: #181818;
    margin-right: 10px;
    text-align: center;}

.charts-statistics {
  width: 28%;
  margin-right: 20px;
}
.filter__tree {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 6px rgba(7,61,58,0.1);
  box-shadow: 0 2px 6px rgba(7,61,58,0.1);
  color: #000;
  cursor: default;
  left: 5%;
  min-width: 320px;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 999;
}

.customHeader,
.customHeader.mat-list-item:hover,
.customHeader.list-item-active{
  color: #b1b5c0;
  background: none;
  cursor: text;
}

p.btn__text {
color: #fff;
font: 14px Inter, sans-serif;
}

.btn {
border-radius: 30px;
height: 24px;
min-height: 24px;
padding: 0 10px;
text-align: center;
-webkit-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
cursor: pointer;
}

.btn--green {
background-color:#1991EB;
border: 1px solid #1991EB;
color: #fff;
}
.btn--green:hover{ background: #007AD4; }

.btn--grey {
 
  border: 1px solid #ccc;

  background-color: #fff;
    color: #5D6A7E;
    border: 1px solid #D3DAE3;
  

  }

.btn--grey:hover {     background-color: #E8FDF8; }


h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-table {
  margin-left: 10px;
  margin-right: 10px;
}
.charts-statistics{
  position: relative;
  top: 10%;border: 2px solid #eaecf0; 

}
.charts-box { border: 1px solid #D3DAE3; }
.charts-statistics .heading{    padding: 14px;
    text-align: center;
    background: #6600ff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;}

.checkbox-inline{
  display: inline-block;
  padding-left: 2px;
}
.form-right-chart{
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 240, 240);
  margin-bottom: 0;
  padding: 20px;
}
mat-header-row{ background: #1991EB; }
.form-right-chart{ background: #f2f2f2; }
.form-right-chart h4{ font-weight: bold; text-transform: capitalize;}
.form-row { margin-bottom: 10px;align-items: center;}
.form-row label{   font-weight: 500;width: 100%;display:block;text-align: left;}
.form-row input.form-control{ height: 26px;border: 2px solid #1991eb !important;width:96%;    border-radius: 0 !important;    background-color: rgb(243, 240, 240); }
.form-row input.form-control:focus { border-radius: 0;border-color:#1991eb;  }
.charts-statistics .checkbox-inline { font-weight: 500;margin-top: 6px; }
.charts-statistics .checkbox-inline .mail { margin-left: 20px; margin-right: 12px;}
.right-content .price{ font-size:30px;line-height: 30px;margin-bottom: 20px; color: #fff;display: inline-block; font-weight: 600;}
.right-content .mat-flat-button{ display: block;
    font-size: 18px;
    width: 80%;
    background: #ffcc00;
    color: #000;
    margin: 0 auto; margin-bottom: 20px;transition: all 0.3s ease;}
.right-content .mat-flat-button:hover{ background:#fff;  }
.title-padding { padding-left: 32px;  }



.right-content{ 
  padding: 20px;
  text-align: center;
  background: #6600ff;
  color: #fff;

}
.content-below{
  margin-top: 5px;
  font-weight: 500;
}
.mat-cell {  color: rgba(101,101,101,0.81);     font-size: 13px;}
.mat-cell.cdk-column-phone { margin-left: -45px; }
mat-header-cell{
  margin-left: 5px;
  font-size: 13px; 
  font-weight: 500;
      color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.example-sidenav{
  max-height: 550px;
}
.nav-close-bar-main .mat-drawer-inner-container{overflow: hidden;}
.nav-close-bar-main .mat-list-base .mat-list-option {border: none;}
.nav-close-bar-main .mat-list-base .mat-list-option.btClearFilters  {margin-left: 7px;}
.nav-close-bar-main .mat-list-base .mat-list-option:hover,.nav-close-bar-main .mat-list-base .mat-list-option.btnSaveFilters{ background:none; border-radius: 0;box-shadow: none;color: #1991eb; }

.mat-table {     margin-top: 10px; }
.mat-header-cell {border: none;  }
td.mat-cell{border: none;}
mat-row:nth-child(even) { background:#f2f2f2;}

@media only screen and (max-width: 1200px) {
.charts-statistics{    max-width: 35% !important; }

}
@media only screen and (max-width: 991px) {
.charts-statistics .heading{font-size: 13px;}

}

@media only screen and (max-width: 767px) {
.right-content-main{display: block !important;}
.charts-statistics{    max-width:100% !important;    width: 100%; }
}



