h1{font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;}
.content { padding-top: 16px; }
.content > span{ font-weight: 500; }
.content ul { list-style-type: none; padding: 0;margin: 0;margin-top: 10px;}
.content ul li { padding-bottom: 5px; }