
<style type="text/css">
    .mat-dialog-container { min-width: 500px; }
</style>
<div mat-dialog-content class="common-popup">
  <button class="dialog-header" mat-button mat-dialog-close (click)="clearsave()">X</button>
  <div class="dialog-header">
    <h1 mat-dialog-title>Save Dialog</h1>   
  </div>
 <mat-divider></mat-divider>

  <div mat-dialog-content class="content save">
        <div class="form-group">
            <input id="male" type="radio" value="male" name="search" formControlName="search">
            <label for="male">Save as a new search</label>
    </div>

    <div class="form-group inline">
        <label for="name">Name</label>
        <input id="name" type="text"  name="Name" >
    </div>
    <div class="form-group inline">
          <label for="name"  class="option">Option</label>
        <select>
            <option>Ok1</option>
            <option>Ok2</option>
            <option>Ok3</option>
        </select>
    </div>

   <div class="buttons">

<a href="#">Save</a>
<a href="#" class="cancel" >cancel</a>

   </div>
  


 
</div>

</div>